<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hudipo.pum_indomaret">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".features.requestpum.view.ValidationReqActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".features.requestpum.view.FundReqActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".features.requestpum.view.EmployeeReqActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".features.requestpum.view.SearchDocumentReqActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".features.requestpum.view.DepartmenReqActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.register.view.RegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.splash.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.login.view.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>